<!-- ###listView### -->
	###search###
	<p>###pageBrowser###</p>
	###noResultFound###
	<!-- ###list### begin -->
		<table>
		<!-- ###rows### begin -->
			<!-- ###row0### begin -->
			<tr class="odd">
				<!-- ###cell### -->
					<td ###class###>###content###</td>
				<!-- ###cell### -->
			</tr>
			<!-- ###row0### end -->

			<!-- ###row1### begin -->
			<tr>
				<!-- ###cell### -->
					<td ###class###>###content###</td>
				<!-- ###cell### -->
			</tr>
			<!-- ###row1### end -->
		<!-- ###rows### end -->
		</table>
	<!-- ###list### end -->
<!-- ###listView### -->

<!-- ###noResultFoundBox### begin -->
	<p>###noResultFoundText###</p>
<!-- ###noResultFoundBox### end -->