<!-- ###listByCategory### -->
	<!-- ###listView### -->
		<!-- ###list### begin -->
		<h2>###categoryLabel###</h2>
		<ul>
			<!-- ###rows### begin -->
				<!-- ###row0### begin -->
				<li class="odd">
					<!-- ###cell### -->
						<span ###class###>###content###</span>
					<!-- ###cell### -->
				</li>
				<!-- ###row0### end -->
				<!-- ###row1### begin -->
				<li>
					<!-- ###cell### -->
						<span ###class###>###content###</span>
					<!-- ###cell### -->
				</li>
				<!-- ###row1### end -->
			<!-- ###rows### end -->
		</ul>
		<!-- ###list### end -->
	<!-- ###listView### -->
<!-- ###listByCategory### -->