<!-- ###singleView### begin-->
<link rel="stylesheet" type="text/css" href="fileadmin/templates/styles/pdf.css" />

<table class="userlist-detail-table" border="0" cellpadding="3">
	<!-- ###titleBox### -->
	<tr>
		<td class="label odd" valign="top" width="150">Titel</td>
		<td class="value odd"><strong>###title###</strong></td>
	</tr>
	<!-- ###titleBox### -->
	<!-- ###itemdateBox### -->
	<tr>
		<td class="label even" valign="top"><font face="verdana">Datum</font></td>
		<td class="value even"><font face="verdana">###itemdate###</font></td>
	</tr>
	<!-- ###itemdateBox### -->
	<!-- ###speakerBox### -->
	<tr>
		<td class="label odd" valign="top"><font face="verdana">Referenten</font></td>
		<td class="value odd"><font face="verdana">###speaker###</font></td>
	</tr>
	<!-- ###speakerBox### -->
	<!-- ###timetableBox### -->
	<tr>
		<td class="label even" valign="top"><font face="verdana">Zeitplan</font></td>
		<td class="value even"><font face="verdana">###timetable###</font></td>
	</tr>
	<!-- ###timetableBox### -->
	<!-- ###objectiveBox### -->
	<tr>
		<td class="label odd" valign="top"><font face="verdana">Zielsetzung</font></td>
		<td class="value odd" ><font face="verdana">###objective###</font></td>
	</tr>
	<!-- ###objectiveBox### -->
</table>
<!-- ###singleView### begin-->